@import '@fontsource/fira-mono';
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

:root {
	--font-body: Dosis;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: #2A9D8F;
	--color-bg-1: #2A9D8F;
	--color-bg-2: #264653;
	--color-theme-1: #E76F51;
	--color-theme-2: #40b3ff;
	--color-text: #9EA3B0;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	position: relative;
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: #0D1F2D;
	background-size: 100vw 100vh;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: #546A7B;
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: black;
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

button {
	border-radius:1em;
	border-color: #0D1F2D;
	background-color: #E76F51;
	padding: 5px;
	margin-left: 5px;
}
input {
	margin-left: 4px;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 2px;
}

footer {
	position: sticky;
	padding: 0;

}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
